.shopContainer {
	background-color: var(--color-text-light);
	max-width: var(--container-width);
	padding: 0 var(--spacing-l);
	margin-inline: auto;
}

.productContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: var(--spacing-l);
	padding: 0 0 var(--spacing-xl) 0;
}

.shopTitle {
	padding: var(--spacing-l) 0;
	color: var(--secondary-color);
}

.loadingContainer {
	padding: var(--spacing-l);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-l);
	min-width: 20em;
	margin-inline: auto;
	margin-top: var(--spacing-3xl);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.loadingSpinner {
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 8px solid var(--color-text-primary);
	animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
	0% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
	}
	12.5% {
		clip-path: polygon(
			50% 50%,
			0 0,
			50% 0%,
			100% 0%,
			100% 0%,
			100% 0%,
			100% 0%
		);
	}
	25% {
		clip-path: polygon(
			50% 50%,
			0 0,
			50% 0%,
			100% 0%,
			100% 100%,
			100% 100%,
			100% 100%
		);
	}
	50% {
		clip-path: polygon(
			50% 50%,
			0 0,
			50% 0%,
			100% 0%,
			100% 100%,
			50% 100%,
			0% 100%
		);
	}
	62.5% {
		clip-path: polygon(
			50% 50%,
			100% 0,
			100% 0%,
			100% 0%,
			100% 100%,
			50% 100%,
			0% 100%
		);
	}
	75% {
		clip-path: polygon(
			50% 50%,
			100% 100%,
			100% 100%,
			100% 100%,
			100% 100%,
			50% 100%,
			0% 100%
		);
	}
	100% {
		clip-path: polygon(
			50% 50%,
			50% 100%,
			50% 100%,
			50% 100%,
			50% 100%,
			50% 100%,
			0% 100%
		);
	}
}
@keyframes l20-2 {
	0% {
		transform: scaleY(1) rotate(0deg);
	}
	49.99% {
		transform: scaleY(1) rotate(135deg);
	}
	50% {
		transform: scaleY(-1) rotate(0deg);
	}
	100% {
		transform: scaleY(-1) rotate(-135deg);
	}
}
