a {
	text-decoration: none;
}

.navBar {
	max-width: var(--container-width);
	border: solid red;
	margin-inline: auto;
	padding: var(--spacing-xl) var(--spacing-l);
	display: flex;
	justify-content: space-between;
}
